form(action='/lists/add', method='post', class='well form-inline two-field')
	.row-fluid
		.span9
			input(type='text', name='ListName', id='list-name', class='input-100', placeholder='Add new list')
		.span3
			button(type='submit', name='AddList', class='btn input-95 pull-right') Add
		