extends layout

block content
	- if (errorMessage && errorMessage != '')
		div.alert.alert-error= errorMessage
			button(type='button', class='close', data-dismiss='alert')×
		
	h1.align-center Welcome to ToDo Node!
	- var retUrl = (returnUrl ? "?returnUrl=" + returnUrl : "")
	br
	div.form-login
		form(act.ion='/login#{retUrl}', method='post', class='form-horizontal')
			fieldset	
				legend
					h3.align-center Please Login
				.control-group
					label.control-label Email:
					.controls
						input(type='email', name='username', id='username', class = 'input-xlarge', placeholder='you@youremail.com')
						
				.control-group
					label.control-label Password:
					.controls
						input(type='password', name='password', id='password', class = 'input-xlarge', placeholder='********')
						
				.form-actions
					button(type='submit', name='Login', class='btn btn-primary') Login
					span  or 
					a(href="javascript:// Register", class="show-reg") Register
	
	div.form-register.hide
		form(action='/register#{retUrl}', method='post', class='form-horizontal')
			fieldset
				legend
					h3.align-center Please Register
				.control-group
					label.control-label Email:
					.controls
						input(type='email', name='newEmail', id='newEmail', class = 'input-xlarge', placeholder='you@youremail.com')
				
				.control-group
					label.control-label Password:
					.controls
						input(type='password', name='newPassword', id='newPassword', class = 'input-xlarge', placeholder='********')
						
				.control-group
					label.control-label Confirm Password:
					.controls
						input(type='password', name='newPassword2', id='newPassword2', class = 'input-xlarge', placeholder='********')
				
				.form-actions
					button(type='submit', name='Register', class='btn btn-primary') Register
					span  or 
					a(href="javascript:// Login", class="show-login") Login
				
block append inline-scripts
	script(type='text/javascript')
		TD.mod.Login.init();